/*
colors used for the house: 
Dark moderate red (terra cotta): #a45146 
Dark green: #2e545b
Dark rosa: #e49494
Ligth rosa: #d4a9a9

other colors:
Light gray: #F8F9FA
*/

body {
  background: url("../img/background_main.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #a45146;
  font-family: "Kalam", cursive;
}

.input-group {
  width: auto;
}

.card {
  max-width: 500px;
  min-width: 300px;
  margin: 80px auto;
}
.card-footer .card-header {
  background-color: "#FFF";
}
.card-body {
  position: relative;
}

.card-footer span {
  display: inline-block;
  margin: 0 10px;
}

.main-temp {
  padding-right: 1px;
}

#house-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 330px;
}

#weather-icon {
  filter: sepia(50%);
}

#local-date-display {
  font-size: small;
}

#local-date::before {
  content: "Local date: ";
}

#local-time::before {
  content: "local time: ";
}
#country-id {
  display: none;
}

/* -------------------responsiveness ------------------------------*/
@media screen and (max-width: 523px) {
  h1 {
    font-size: 1.8em;
  }
  .card {
    max-width: 80%;
    overflow: hidden;
  }

  #local-date::before {
    content: "Date: ";
  }

  #local-time::before {
    content: "time: ";
  }

  #country-name {
    display: none;
  }

  #country-id {
    display: inline;
  }
}
