/*
colors used for the house: 
Dark moderate red (terra cotta): #a45146 
Dark green: #2e545b
Dark rosa: #e49494
Ligth rosa: #d4a9a9

other colors:
Light gray: #F8F9FA
*/

body {
  background: url("../img/background_main.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

h1 {
  color: #a45146;
  font-family: "Kalam", cursive;
}

.card {
  max-width: 500px;
  margin: 40px auto;
}
.card-footer .card-header {
  background-color: "#FFF";
}
.card-body {
  position: relative;
}

.card-footer span {
  display: inline-block;
  margin: 0 10px;
}

.main-temp {
  padding-right: 1px;
}

#house-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 330px;
}

#weather-icon {
  filter: sepia(50%);
}

#local-date-display {
  font-size: small;
}
