/*
colors used for the house: 
Dark moderate red (terra cotta): #a45146 
Dark green: #2e545b
Dark rosa: #e49494
Ligth rosa: #d4a9a9

other colors:
Light gray: #F8F9FA
*/

body {
  background: url("../img/background_main.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  min-width: 330px;
}

h1 {
  color: #a45146;
  font-family: "Kalam", cursive;
}

.input-group {
  width: auto;
}
.all-cards {
  display: flex;
  flex-direction: row;
}

.main-card-parent {
  width: 500px;
  margin: 10vh 5vh 10vh 20vh;
}

.side-cards {
  margin: 10vh 20vh 10vh 5vh;
  display: flex;
  flex-direction: column;
}

.day-card {
  margin: 0.5em;
}

.main-card {
  /* makes the main card as height as the side cards */
  min-height: calc(100% - 1em);
  min-width: 500px;
  margin: 0.5em;
}

.card {
  max-width: 500px;
  /* margin: 80px auto; */
}
.card-footer .card-header {
  background-color: "#FFF";
}
.card-body {
  position: relative;
}

.card-footer {
  height: 80px;
}

.main-temp {
  padding-right: 1px;
}

#house-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 330px;
}

#weather-icon {
  filter: sepia(50%);
}

#local-date-display {
  font-size: small;
}

#local-date::before {
  content: "Local date: ";
}

#local-time::before {
  content: "local time: ";
}
#country-id {
  display: none;
}

/* -------------------responsiveness ------------------------------*/
@media screen and (max-width: 1250px) {
  .all-cards {
    display: flex;
    flex-direction: column;
  }
  .main-card-parent {
    margin-bottom: 0;
  }

  .side-cards {
    margin-top:0;
    margin-left:20vh;
    /* margin: 0 5vh 10vh 20vh; */
    display: flex;
    flex-direction: column;
    min-width: 400px;
  }
}

@media screen and (max-width: 523px) {
  h1 {
    font-size: 1.8em;
  }
  .main-card {
    /*16 for each site*/
    max-width: calc(100% - 32px);
    overflow: hidden;
    margin-top: 16px;
  }

  #local-date::before {
    content: "Date: ";
  }

  #local-time::before {
    content: "time: ";
  }

  #country-name {
    display: none;
  }

  #country-id {
    display: inline;
  }
}
